@import './base/mixings';
@import './base/dashboardprofile';
@import './base/dashboardteam';

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin-left: 5rem;
    margin-right: 5rem;
}